<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "../static/css/about.css">
    </head>
    <header>
        <div class="navlinks">
            <a href="/">create a line</a>
            <a href="https://www.wikipedia.org/">Blog</a>
            <a href="https://michiganecodata.org/">Ecodata</a>
        </div>
    </header>
    <body>
        <div class="text_blurbs">
            <div class="blurb">
                <h2>Lead Developers</h2>
                <p>Jack Mueller</p>
                <p>Neva Rognes</p>
            </div>
            <div class="blurb">
                <h2>Fullstack Developers</h2>
                <p>Lisa Frankenstein</p>
                <p>Fionna Apple</p>
            </div>
            <div class="blurb">
                <h2>Data Analysts</h2>
                <p>Adam Smith</p>
                <p>Reginald Wadsworth</p>
                <p>Jane Doe</p>
                <p>Jeremy Cricket</p>
            </div>
            <div class="desc">
                <h2>Methodology</h2>
                <p>we utilized various data analytics techniques to estimate line ridership.</p>
            </div>
        </div>
    </body>
</html>