<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "../static/css/index.css">
    </head>
    <header>
        <ul class = "nav-bar">
            <li><a class = "nav-option" href = "/homepage">home</a></li>
            <li><a class = "nav-option" href = "/make-a-line">make a line</a></li>
            <li><a class = "nav-option" href="/about">about</a></li>
            <li><a class = "nav-option" href="/contact">contact</a></li>
            <li><a class = "nav-option" href="/blog">blog</a></li>
        </ul>
    </header>

    <body>
        <h1 class = "main-title">contact us!</h1>
        
    </body>
</html>